body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

